.main-toolbar{
  margin-top: 30px;

}
.nav-link{
  margin-right: 10px;
  color: white;
  font-weight:bold;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;


}

h3{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 50px;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  
}

.example-fill-remaining-space{
  flex: 1 1 auto;
  display: flex;
}
