.container-fluid{
  margin-top: 40px;
}

h3{
  text-align: center;
  font-family:'McLaren', cursive;
  color:maroon;
}
p{
  text-align: center;
  //float:left;
}

#main-con{
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-img{

  position: relative;
  left:150px;
  height: 300px;
  width: 800px;
  //border:2px solid;
  //border-radius:100%;
}
